@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap);.ms_header {
  height: 100px;
  color: red;
  background-color: black;
  text-align: center;
}

.ms_header h1 {
  padding-top: 20px;
}

.ms_container {
  text-align: center;
  background-color: green;
}

.ms_containerfilm {
  margin: 0 auto;
  max-width: 1400px;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
}

.ms_boxfilm {
  height: 200px;
  width: 233.3333333333px;
  padding: 10px 30px;
  margin: 0px 10px;
  margin-top: 45px;
  background-color: blue;
}

/* @import 'partials/_comic'; */

/* @import 'partials/_footer';  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

